<div class="main-grid">
  <div class="balls">
    <div *ngFor="let ball of balls" class="ball">
      <input [disabled]="shouldCheckBoxDisabled && ball.value !== true" type="checkbox" id="check-{{ball.id}}" [(ngModel)]="ball.value">
      <label for="check-{{ball.id}}"> {{ball.id}} </label>
    </div>
  </div>
  <button (click)="selectRandomBalls(maxSelectedCheckbox)" class="random-button">Radnom</button>
  <span class="message">Select {{maxSelectedCheckbox}} numbers</span>
  <button (click)="sendChosenBalls()" class="send-button">Submit</button>
</div>
